form input{
  color:blue;
}
div input{
  color:green;
}
@keyframes animar{
  0%{
    background-color:yellow;
    //width: 50px;
  }
  50%{
    background-color: orange;
    //width: 50px;
  }
  100%{
    background-color:yellow;
    //width: 50px;
  }
}
input[type="submit"]{
  animation-name: animar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
body {
  background-color:lightgrey;
}
input{
  background-color:lightblue;
}
h2{
  color: green;
  text-shadow: 1px 1px 2px black;
}
nav ul {
list-style-type:none;
padding:0;
}
nav li {
display:inline;
float:left;
}
nav a:link, nav a:visited {
  background-color:lightblue;
  color:blue;
  display:block;
  width: 250px;
  text-align:center;
  padding: 10px 0;
  text-decoration-style:dotted;
  
}
nav a:hover {
background-color:black;
